@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&family=Playfair+Display&family=Roboto:wght@300;400;500;700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.gold {
    color: rgb(153, 108, 83);
    text-decoration: underline;
}

.brown {
    background-color: rgb(246, 246, 246);
}

.button_gold {
    a {
        background-color: rgb(196, 146, 117);
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        min-height: 56px;
        display: inline-flex;
        padding: 0 40px;
        border-radius: 48px;
        align-items: center;
    }
    a:hover {
        background-color: rgb(209, 171, 149);
    }
}

.section_title {
    width: 90%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 40px;
    margin-top: 56px;
    span {
        color: rgb(186, 138, 110);
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: 400;
        position: relative;
        display: inline-block;
    }
    span:before {
        display: block;
        width: 100vw;
        position: absolute;
        background: currentColor;
        height: 1px;
        content: "";
        margin-right: 24px;
        right: 100%;
        top: 20px;
    }
    span:after {
        display: block;
        width: 100vw;
        position: absolute;
        background: currentColor;
        height: 1px;
        content: "";
        margin-left: 24px;
        left: 100%;
        top: 20px;
    }
}

.label {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 400;
}
.label_description {
    margin-bottom: 24px;
    font-size: 16px;
    color: rgb(94, 94, 94);
    font-weight: 300;
    line-height: 1.6;
}

.center {
    text-align: center;
}

.page_link {
    color: rgb(153, 108, 83) !important;
    font-weight: 700;
}

header {
    .header_up {
        height: 32px;
    }
    .header_container {
        .home_logo {
            width: 375px;
            margin: 0 auto;
            padding-top: 48px;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .dropdwn{
            max-width: 800px;
            display: flex;
            font-size: 14px;
            margin-top: 36px;
            margin-bottom: 48px;
        }
        
        ul{
            text-align: center;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
        }
        li{
            position: relative;
            display: block;
            cursor: pointer;
            color: rgb(94, 94, 94);
        }
        
        .dropdwn li{
            width: 800px;
            display: inline;
            a {
                color: rgb(94, 94, 94);
            }
        }
        
        .dropdwn_menu{
            width: 100%;
            display: none;
            position: absolute;
            padding: 0;
        }
        
        .dropdwn_menu li{
            width: 100%;
        }
        
        .dropdwn_menu li a{
            display: block;
            color: rgb(94, 94, 94);
        }
        
        li:hover, li a:hover{
            color: rgb(153, 108, 83);
        }
    }
    .header_down {
        height: 32px;
    }
}

footer {
    padding: 32px 0;
    background-color: rgb(246, 246, 246);
    .contact {
        text-align: center;
        padding-bottom: 32px;
        a {
            color: rgb(148, 103, 77);
        }
    }
    .social_link {
        text-align: center;
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 200px;
        margin: 0 auto;
        a {
            color: rgb(148, 103, 77);
            font-size: 24px;
        }
    }
    .copyRight {
        color: rgb(82, 82, 82);
        font-size: 14px;
        text-align: center;
        padding-top: 32px;
    }
}

/* HOME */

.home_img_cover {
.home_img {
    background-image: url(./img/home_img.webp);
    width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
}

#home_company {
.company_summary {
    padding: 56px 0;
    max-width: calc(60%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    .summary_title {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 24px;
        color: #1B1B1B;
    }
    .summary_description {
        font-size: 18px;
        color: rgb(94, 94, 94);
        margin-bottom: 24px;
        font-weight: 400;
    }
}
}

#home_advantage {
    .advantages {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .advantage {
            width: calc(100%/3);
            padding: 0 24px 48px 24px;
            text-align: center;
        }
    }
}

/* HOME */

/* PROGRAM */

#program_summary {
    .program {
        max-width: 90%;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}

#program_pdf {
    .download {
        width: 90%;
        margin: 0 auto;
        a {
            text-align: center;
            display: block;
            color: rgb(153, 108, 83);
            font-size: 16px;
            font-weight: 300;
        }
    }
}

/* PROGRAM */

/* BOOK */

#book_indiviual {
    padding-bottom: 48px;
    .indiviual_container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        .indiviual_left {
            width: calc(100%/3);
            padding-right: 24px;
            img {
                width: 100%;
            }
        }
        .indiviual_right {
            width: calc((100%/3)*2);
            padding-left: 24px;
            .book_type {
                margin-bottom: 32px;
            }
        }
    }
}

#book_business {
    padding-bottom: 48px;
    .business_container {
        width: 90%;
        display: flex;
        margin: 0 auto;
        .business_left {
            width: 50%;
            padding-right: 24px;
            img {
                width: 100%;
            }
        }
        .business_right {
            width: 50%;
            padding-left: 24px;
            display: flex;
            align-items: center;
            .business_description {
            text-align: center;
                h4 {
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 24px;
                    line-height: 1.25;
                }
            }
        }
    }
}

/* BOOK */

/* TEAM */

#team_intro {
    .member_list {
        display: flex;
        width: 92%;
        margin: 0 auto 24px auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        .member_cover {
            width: calc(100%/3);
            margin-bottom: 36px;
            padding: 0 24px;
            .member_pic {
                width: 100%;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* TEAM */

/* ABOUT US */

#aboutUs_summary {
    .aboutUs_description {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 56px;
        p {
            font-size: 20px;
            color: rgb(94, 94, 94);
            text-align: center;
            font-weight: 300;
        }
    }
}

#faq {
    .faq_list {
        margin: 0 auto 56px auto;
        max-width: 60%;
        p {
            font-size: 20px;
            color: rgb(94, 94, 94);
            font-weight: 300;
            padding-bottom: 24px;
        }
    }
}

#about_connect {
    .about_social {
        text-align: center;
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin: 0 auto 56px auto;
        width: 400px;
        padding-bottom: 36px;
        li {
            a {
                font-size: 36px;
                .fa-facebook {
                    color: rgb(24, 119, 242);
                }
                .fa-instagram {
                    color: rgb(225, 48, 108);
                }
                .fa-linkedin {
                    color: rgb(40, 103, 178);
                }
                .fa-twitter {
                    color: rgb(29, 161, 242);
                }
                .fa-youtube {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }
}

#subscribe {
    
}

/* ABOUT US */

/* TESTIMONIALS */

#review_video {
    .video_list {
        width: 90%;
        margin: 0 auto;
        .video {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 48px;
            .video_cover {
                width: 48%;
                .youtube {
                    padding-bottom: 51.5%;
                    position: relative;
                    iframe {
                        width: 100%;
                        height: 100%;
                        max-height: 620px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .video_commemt {
                width: 48%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

#review_comemts {
    .comemts_list {
        display: flex;
        width: 92%;
        margin: 0 auto 24px auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        .comemts_cover {
            width: calc(100%/3);
            margin-bottom: 36px;
            padding: 0 24px;
            .student_pic {
                width: 100%;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* TESTIMONIALS */

/* BLOG */

#blog {
    .blog_description {
        font-size: 16px;
        color: rgb(94, 94, 94);
        font-weight: 300;
        text-align: center;
        width: 700px;
        margin: -20px auto 40px auto;
        line-height: 1.5;
    }
    .blog_list {
        width: 94%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        .blog {
            padding: 0 24px 48px 24px;
            width: 50%;
            a {
                .card {
                    height: 37rem;
                    border: 1px solid rgb(226, 226, 226);
                    .blog_img {
                        width: 100%;
                        min-height: 300px;
                        background-position: center center;
                        background-size: auto, cover;
                    }
                    .first_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*ovUh-G0N0XKWzkvSeYRwQg.jpeg);
                    }
                    .second_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*4Gqky5GC1xLc2-qL__zW1A.jpeg);
                    }
                    .third_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*DsTmd9RaPqTZFCtOtwIYHw.jpeg);
                    }
                    .forth_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/0*6DtGZQdOn-xztVEC);
                    }
                    .fifth_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*iYxsyThNk6Ihjz4PkVACWA.jpeg);
                    }
                    .sixth_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/605/1*dYwtjyiQXMoE8ceNcxhg3g.jpeg);
                    }
                    .seventh_blog {
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*sE9Wr0BGYq7yonafid96-Q.jpeg);
                    }
                    .blog_summary {
                        padding: 32px 24px 32px 24px;
                        .date {
                            font-size: 14px;
                            margin-bottom: 12px;
                            color: rgb(89, 89, 89);
                        }
                        .blog_title {
                            font-size: 22px;
                            margin-bottom: 12px;
                            color: rgb(27, 27, 27);
                            line-height: 1.125;
                        }
                        p {
                            font-size: 16px;
                            color: rgb(94, 94, 94);
                            margin-bottom: 12px;
                        }
                        .continue {
                            color: rgb(153, 108, 83);
                        }
                    }
                }
                .card:hover {
                    box-shadow: 0 0 30px rgb(202, 201, 201);
                }
            }
        }
    }
}

/* BLOG */

/* NEWSLETTER */

#newsletter {
    .news_contents {
        width: 90%;
        margin: 0 auto;
        display: flex;
        .news_left {
            width: 75%;
            padding-right: 24px;
            .news {
                padding-bottom: 40px;
                margin-bottom: 40px;
                border-bottom: 1px solid rgb(226, 226, 226);
                a {
                    .news_card {
                        display: flex;
                        flex-direction: row;
                        .news_card_left {
                            margin-right: 32px;
                            img {
                                width: 200px;
                                max-height: 200px;
                            }
                        }
                        .news_card_right {
                            .news_info {
                                font-size: 14px;
                                margin-bottom: 12px;
                                color: rgb(89, 89, 89);;
                            }
                            .news_title {
                                font-size: 20px;
                                margin-bottom: 12px;
                                color: rgb(27, 27, 27);
                                line-height: 1.125;
                            }
                            p {
                                font-size: 16px;
                                color: rgb(94, 94, 94);
                                margin-bottom: 12px;
                            }
                            .continue {
                                color: rgb(153, 108, 83);
                            }
                        }
                    }
                }
            }
            .no_border {
                border: none;
            }
        }
        .news_right {
            width: 25%;
            border-left: 1px solid rgb(226, 226, 226);
            padding: 0 24px;
            h4 {
                font-size: 22px;
                color: rgb(27, 27, 27);
                font-weight: 400;
                margin-bottom: 24px;
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 24px;
                    font-size: 16px;
                }
            }
        }
    }
}

/* NEWSLETTER */

/* CONTACT */

#contact {
    .contact_cover {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url(//img1.wsimg.com/isteam/ip/b24f650a-c27b-415e-97f2-e562e281b56d/ASA-Final-Pattern-04.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m);
        background-size: auto, cover;
        .contact_container {
            padding: 56px 0;
            width: 984px;
            margin: 0 auto;
            .contact_title {
                margin-bottom: 56px;
                text-align: center;
                h2 {
                    font-family: 'Playfair Display', Georgia, serif;
                    font-size: 38px;
                    color: rgb(255, 255, 255);
                    font-weight: 400;
                }
            }
            .contact_contents {
                background-color: rgb(255, 255, 255);
                text-align: center;
                margin: 0 auto;
                padding: 56px 24px;
                max-width: 66%;
                h4 {
                    margin-bottom: 24px;
                    font-size: 22px;
                    font-weight: 400;
                    color: rgb(52, 52, 52);
                }
                .companyAddress {
                    margin-bottom: 24px;
                    font-size: 16px;
                    color: rgb(94, 94, 94);
                    font-weight: 300;
                }
                .contact_list {
                    margin-bottom: 24px;
                    color: rgb(94, 94, 94);
                    font-size: 16px;
                    font-weight: 300;
                    p {
                        a {
                            color: rgb(153, 108, 83);
                        }
                    }
                }
            }
        }
    }
}

/* CONTACT */


