@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&family=Playfair+Display&family=Roboto:wght@300;400;500;700&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.gold {
  color: #996c53;
  text-decoration: underline;
}

.brown {
  background-color: #f6f6f6;
}

.button_gold a {
  background-color: #c49275;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  min-height: 56px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 40px;
  border-radius: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_gold a:hover {
  background-color: #d1ab95;
}

.section_title {
  width: 90%;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 40px;
  margin-top: 56px;
}

.section_title span {
  color: #ba8a6e;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.section_title span:before {
  display: block;
  width: 100vw;
  position: absolute;
  background: currentColor;
  height: 1px;
  content: "";
  margin-right: 24px;
  right: 100%;
  top: 20px;
}

.section_title span:after {
  display: block;
  width: 100vw;
  position: absolute;
  background: currentColor;
  height: 1px;
  content: "";
  margin-left: 24px;
  left: 100%;
  top: 20px;
}

.label {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 400;
}

.label_description {
  margin-bottom: 24px;
  font-size: 16px;
  color: #5e5e5e;
  font-weight: 300;
  line-height: 1.6;
}

.center {
  text-align: center;
}

.page_link {
  color: #996c53 !important;
  font-weight: 700;
}

header .header_up {
  height: 32px;
}

header .header_container .home_logo {
  width: 375px;
  margin: 0 auto;
  padding-top: 48px;
}

header .header_container .home_logo a {
  width: 100%;
}

header .header_container .home_logo a img {
  width: 100%;
}

header .header_container .dropdwn {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-top: 36px;
  margin-bottom: 48px;
}

header .header_container ul {
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

header .header_container li {
  position: relative;
  display: block;
  cursor: pointer;
  color: #5e5e5e;
}

header .header_container .dropdwn li {
  width: 800px;
  display: inline;
}

header .header_container .dropdwn li a {
  color: #5e5e5e;
}

header .header_container .dropdwn_menu {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
}

header .header_container .dropdwn_menu li {
  width: 100%;
}

header .header_container .dropdwn_menu li a {
  display: block;
  color: #5e5e5e;
}

header .header_container li:hover, header .header_container li a:hover {
  color: #996c53;
}

header .header_down {
  height: 32px;
}

footer {
  padding: 32px 0;
  background-color: #f6f6f6;
}

footer .contact {
  text-align: center;
  padding-bottom: 32px;
}

footer .contact a {
  color: #94674d;
}

footer .social_link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

footer .social_link a {
  color: #94674d;
  font-size: 24px;
}

footer .copyRight {
  color: #525252;
  font-size: 14px;
  text-align: center;
  padding-top: 32px;
}

.name_pic {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 400;
}

.teaser, .complete {
  font-size: 16px;
  color: #5e5e5e;
  font-weight: 300;
  line-height: 1.6;
}

.complete {
  display: none;
}

.more {
  color: #996c53;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  margin: 8px 0;
}

/* HOME */
.home_img_cover:hover .home_img_cover-bg {
  opacity: 0.7;
}

.home_img_cover:hover .home-img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.home_img_cover:hover .home_img-description {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home_img_cover {
  position: relative;
  overflow: hidden;
}

.home_img_cover .home-img {
  background-image: url(./img/home_img.webp);
  width: 100%;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.home_img_cover .home_img_cover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.home_img_cover .home_img-description {
  position: absolute;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 450ms ease;
  transition: opacity 300ms, -webkit-transform 450ms ease;
  transition: opacity 300ms, transform 450ms ease;
  transition: opacity 300ms, transform 450ms ease, -webkit-transform 450ms ease;
  text-align: center;
  width: 100%;
}

.home_img_cover .home_img-description .summary_description {
  width: 85%;
  margin: 24px auto;
  max-width: 800px;
}

#home_advantage .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#home_advantage .advantages .advantage {
  width: calc(100%/3);
  padding: 0 24px 48px 24px;
  text-align: center;
}

/* HOME */
/* PROGRAM */
#program_summary .program {
  max-width: 90%;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
}

#program_pdf .download {
  width: 90%;
  margin: 0 auto;
}

#program_pdf .download a {
  text-align: center;
  display: block;
  color: #996c53;
  font-size: 16px;
  font-weight: 300;
}

/* PROGRAM */
/* BOOK */
#book_indiviual .indiviual_container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#book_indiviual .indiviual_container .diagnostic_test {
  text-align: center;
}

#book_business {
  padding-bottom: 48px;
}

#book_business .business_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#book_business .business_container .business_left {
  width: 50%;
  padding-right: 24px;
}

#book_business .business_container .business_left img {
  width: 100%;
}

#book_business .business_container .business_right {
  width: 50%;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book_business .business_container .business_right .business_description {
  text-align: center;
}

#book_business .business_container .business_right .business_description h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.25;
}

/* BOOK */
/* TEAM */
#team_intro .member_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  margin: 0 auto 24px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#team_intro .member_list .member_cover {
  width: calc(100%/3);
  margin-bottom: 36px;
  padding: 0 24px;
  text-align: center;
}

#team_intro .member_list .member_cover .member_pic {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#team_intro .member_list .member_cover .member_pic img {
  width: 100%;
  display: block;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.pic_wrapper_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.member_pic_description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 450ms ease;
  transition: opacity 300ms, -webkit-transform 450ms ease;
  transition: opacity 300ms, transform 450ms ease;
  transition: opacity 300ms, transform 450ms ease, -webkit-transform 450ms ease;
  color: #fff;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

.member_pic:hover .member_pic_img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.member_pic:hover .pic_wrapper_bg {
  opacity: 0.7;
}

.member_pic:hover .member_pic_description {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* TEAM */
/* ABOUT US */
#aboutUs_summary .aboutUs_description {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 56px;
}

#aboutUs_summary .aboutUs_description p {
  font-size: 20px;
  color: #5e5e5e;
  text-align: center;
  font-weight: 300;
}

#faq .faq_list {
  margin: 0 auto 56px auto;
  max-width: 60%;
}

#faq .faq_list p {
  font-size: 20px;
  color: #5e5e5e;
  font-weight: 300;
  padding-bottom: 24px;
}

#about_connect .about_social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 56px auto;
  width: 400px;
  padding-bottom: 36px;
}

#about_connect .about_social li a {
  font-size: 36px;
}

#about_connect .about_social li a .fa-facebook {
  color: #1877f2;
}

#about_connect .about_social li a .fa-instagram {
  color: #e1306c;
}

#about_connect .about_social li a .fa-linkedin {
  color: #2867b2;
}

#about_connect .about_social li a .fa-twitter {
  color: #1da1f2;
}

#about_connect .about_social li a .fa-youtube {
  color: red;
}

/* ABOUT US */
/* TESTIMONIALS */
#review_video .video_list {
  width: 90%;
  margin: 0 auto;
}

#review_video .video_list .video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
}

#review_video .video_list .video .video_cover {
  width: 48%;
}

#review_video .video_list .video .video_cover .youtube {
  padding-bottom: 51.5%;
  position: relative;
}

#review_video .video_list .video .video_cover .youtube iframe {
  width: 100%;
  height: 100%;
  max-height: 620px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

#review_video .video_list .video .video_commemt {
  width: 48%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#review_comemts .comemts_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  margin: 0 auto 24px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#review_comemts .comemts_list .comemts_cover {
  width: calc(100%/3);
  margin-bottom: 36px;
  padding: 0 24px;
  text-align: center;
}

#review_comemts .comemts_list .comemts_cover .student_pic {
  width: 100%;
}

#review_comemts .comemts_list .comemts_cover .student_pic img {
  width: 100%;
  border-radius: 50%;
}

/* TESTIMONIALS */
/* BLOG */
#blog .blog_description {
  font-size: 16px;
  color: #5e5e5e;
  font-weight: 300;
  text-align: center;
  width: 60%;
  margin: -20px auto 40px auto;
  line-height: 1.5;
}

#blog .blog_list {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

#blog .blog_list .blog {
  padding: 0 24px 48px 24px;
  width: 50%;
}

#blog .blog_list .blog a .card {
  height: 37rem;
  border: 1px solid #e2e2e2;
}

#blog .blog_list .blog a .card .blog_img {
  width: 100%;
  min-height: 300px;
  background-position: center center;
  background-size: auto, cover;
}

#blog .blog_list .blog a .card .first_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/1*ovUh-G0N0XKWzkvSeYRwQg.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*ovUh-G0N0XKWzkvSeYRwQg.jpeg);
}

#blog .blog_list .blog a .card .second_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/1*4Gqky5GC1xLc2-qL__zW1A.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*4Gqky5GC1xLc2-qL__zW1A.jpeg);
}

#blog .blog_list .blog a .card .third_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/1*DsTmd9RaPqTZFCtOtwIYHw.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*DsTmd9RaPqTZFCtOtwIYHw.jpeg);
}

#blog .blog_list .blog a .card .forth_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/0*6DtGZQdOn-xztVEC);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/0*6DtGZQdOn-xztVEC);
}

#blog .blog_list .blog a .card .fifth_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/1*iYxsyThNk6Ihjz4PkVACWA.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*iYxsyThNk6Ihjz4PkVACWA.jpeg);
}

#blog .blog_list .blog a .card .sixth_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/605/1*dYwtjyiQXMoE8ceNcxhg3g.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/605/1*dYwtjyiQXMoE8ceNcxhg3g.jpeg);
}

#blog .blog_list .blog a .card .seventh_blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(https://cdn-images-1.medium.com/max/1024/1*sE9Wr0BGYq7yonafid96-Q.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://cdn-images-1.medium.com/max/1024/1*sE9Wr0BGYq7yonafid96-Q.jpeg);
}

#blog .blog_list .blog a .card .blog_summary {
  padding: 32px 24px 32px 24px;
}

#blog .blog_list .blog a .card .blog_summary .date {
  font-size: 14px;
  margin-bottom: 12px;
  color: #595959;
}

#blog .blog_list .blog a .card .blog_summary .blog_title {
  font-size: 22px;
  margin-bottom: 12px;
  color: #1b1b1b;
  line-height: 1.125;
}

#blog .blog_list .blog a .card .blog_summary p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 12px;
}

#blog .blog_list .blog a .card .blog_summary .continue {
  color: #996c53;
}

#blog .blog_list .blog a .card:hover {
  -webkit-box-shadow: 0 0 30px #cac9c9;
          box-shadow: 0 0 30px #cac9c9;
}

/* BLOG */
/* NEWSLETTER */
#newsletter .news_contents {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#newsletter .news_contents .news_left {
  width: 75%;
  padding-right: 24px;
}

#newsletter .news_contents .news_left .news {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
}

#newsletter .news_contents .news_left .news a .news_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_left {
  margin-right: 32px;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_left img {
  width: 200px;
  max-height: 200px;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_right .news_info {
  font-size: 14px;
  margin-bottom: 12px;
  color: #595959;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_right .news_title {
  font-size: 20px;
  margin-bottom: 12px;
  color: #1b1b1b;
  line-height: 1.125;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_right p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 12px;
}

#newsletter .news_contents .news_left .news a .news_card .news_card_right .continue {
  color: #996c53;
}

#newsletter .news_contents .news_left .no_border {
  border: none;
}

#newsletter .news_contents .news_right {
  width: 25%;
  border-left: 1px solid #e2e2e2;
  padding: 0 24px;
}

#newsletter .news_contents .news_right h4 {
  font-size: 22px;
  color: #1b1b1b;
  font-weight: 400;
  margin-bottom: 24px;
}

#newsletter .news_contents .news_right ul {
  list-style: none;
}

#newsletter .news_contents .news_right ul li {
  margin-bottom: 24px;
  font-size: 16px;
}

/* NEWSLETTER */
/* CONTACT */
#contact .contact_cover {
  background-size: auto, cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url(./img/contact_back.webp);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url(./img/contact_back.webp);
}

#contact .contact_cover .contact_container {
  padding: 56px 0;
  width: 80%;
  margin: 0 auto;
}

#contact .contact_cover .contact_container .contact_title {
  margin-bottom: 56px;
  text-align: center;
}

#contact .contact_cover .contact_container .contact_title h2 {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 38px;
  color: white;
  font-weight: 400;
}

#contact .contact_cover .contact_container .contact_contents {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 56px 24px;
  max-width: 66%;
}

#contact .contact_cover .contact_container .contact_contents h4 {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 400;
  color: #343434;
}

#contact .contact_cover .contact_container .contact_contents .companyAddress {
  margin-bottom: 24px;
  font-size: 16px;
  color: #5e5e5e;
  font-weight: 300;
}

#contact .contact_cover .contact_container .contact_contents .contact_list {
  margin-bottom: 24px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 300;
}

#contact .contact_cover .contact_container .contact_contents .contact_list p a {
  color: #996c53;
}

/* CONTACT */
/* Humburger button */
.btn__menu {
  display: none;
  background-color: transparent;
  font-size: 28px;
  text-align: center;
  border: none;
  top: 50px;
  left: 30px;
  position: absolute;
}

.btn__menu i {
  color: #1b1b1b;
}

.btn__menu i:hover {
  color: #996c53;
}

.btn__menu--close {
  display: none;
  background-color: transparent;
  font-size: 28px;
  text-align: center;
  border: none;
  top: 25px;
  right: 30px;
  position: absolute;
}

.btn__menu--close i {
  color: #1b1b1b;
}

.btn__menu--close i:hover {
  color: #996c53;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu__open .menu__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}

header .header_container .menu__links {
  width: 100%;
  padding: 0 24px;
}

header .header_container .menu__links li {
  text-align: left;
  font-size: 22px;
  padding: 12px 24px 12px 24px;
  border-bottom: 1px solid rgba(185, 185, 185, 0.5);
}

header .header_container .menu__links li a {
  color: #1b1b1b;
}

/* Humburger button */
/* media */
@media (max-width: 1024px) {
  #home_advantage .advantages .advantage {
    width: 50%;
  }
}

@media (max-width: 768px) {
  header .header_down, header .header_up {
    display: none;
  }
  .btn__menu, .btn__menu--close {
    display: block;
  }
  header .header_container .dropdwn {
    display: none;
  }
  #home_advantage .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #home_advantage .advantages .advantage {
    width: 100%;
  }
  .section_title span {
    font-size: 24px;
  }
  #review_video .section_title span,
  #book_business .section_title span,
  #review_comemts .section_title span,
  #faq .section_title span {
    width: 250px;
  }
  #book_business .business_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #book_business .business_container .business_left {
    width: 100%;
    padding: 0;
  }
  #book_business .business_container .business_right {
    width: 100%;
    padding: 0;
  }
  #team_intro .member_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #team_intro .member_list .member_cover {
    width: 100%;
  }
  #review_video .video_list .video:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #review_video .video_list .video {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  #review_video .video_list .video .video_cover {
    width: 100%;
  }
  #review_video .video_list .video .video_commemt {
    width: 100%;
  }
  #review_video .video_list .video .video_commemt .label {
    margin-top: 24px;
  }
  #review_comemts .comemts_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #review_comemts .comemts_list .comemts_cover {
    width: 100%;
  }
  #faq .faq_list {
    max-width: 90%;
  }
  #about_connect .about_social {
    width: 85%;
  }
  #contact .contact_cover .contact_container .contact_contents h4 {
    font-size: 18px;
  }
  #blog .blog_description {
    width: 90%;
  }
  #blog .blog_list .blog {
    width: 100%;
  }
  #blog .blog_list .blog a .card {
    height: auto;
  }
  #newsletter .news_contents .news_right {
    display: none;
  }
  #newsletter .news_contents .news_left {
    padding: 0;
    width: 100%;
  }
  #newsletter .news_contents .news_left .news a .news_card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #newsletter .news_contents .news_left .news a .news_card .news_card_left {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 48px;
  }
  #newsletter .news_contents .news_left .news a .news_card .news_card_right {
    width: 100%;
  }
  header .header_container {
    min-height: 100px;
  }
  header .header_container .home_logo {
    position: absolute;
    top: 80px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 200px;
    z-index: 100;
    padding: 10px 10px 10px 10px;
  }
  .index_logo .home_logo {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px #d6d4d4;
            box-shadow: 1px 1px 3px #d6d4d4;
  }
}

/* media */
/*# sourceMappingURL=style.css.map */